@media (min-width: 1900px) {
    .main-slider-top .slider-logo-main {
        top: 70px;
    }
    .main-slider-top .slider-logo-main img {
        width: 21%;
    }
}

@media (max-width: 1600px) {
    .title-main .writen {
        top: 50%;
        transform: translateY(-50%);
    }
    .right-information {
        width: 75%;
    }
    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -80px;
        bottom: 105px;
    }
}

@media (max-width: 1440px) {
    .logo {
        margin-bottom: 47px;
    }
    .right-information {
        width: 90%;
    }

    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -60px;
        bottom: 100px;
    }
}

@media (max-width: 1199px) {
    .logo {
        width: 30%;
    }
    .right-information {
        margin-top: 50px;
    }
    .main-slider .owl-dots {
        bottom: 0;
    }
    .main-slider .owl-carousel .owl-item img {
        height: 320px;
        object-fit: cover;
    }
    .slider-logo-main img {
        width: 30%;
    }
    .main-slider-top .slider-logo-main {
        top: 10px;
    }

    /***** 22-7-2019 css change *****/
    h1.product_title.entry-title {
        font-size: 36px;
        width: 100%;
    }
    .custom_thumbnail_images a {
        width: 29%;
        margin-right: 15px;
    }
    .woocommerce-page .custom_thumbnail_images img {
        min-height: 90px;
        max-height: 90px !important;
    }
    .footer-menu-block h3 {
        font-size: 18px;
    }
    .folder-section ul li a span {
        font-size: 15px;
    }
    .product-list .custom-transfrom .inner-area h3 {
        font-size: 18px;     transform: translateY(25px);
    }
    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -60px;
        bottom: 88px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 25%;
        margin-bottom: 27px;
    }
    .sec-right {
        margin-top: 50px;
    }
    .even-space {
        margin: 40px 0;
    }
    .top-bottom-even,
    .bro-section.bg-light-new {
        padding: 50px 0;
    }
    .even-space-inner {
        padding-top: 40px;
    }
    .new-bg .content-austim {
        padding-bottom: 40px;
    }
    .new-bg,
    .no-container,
    .bro-section {
        margin-bottom: 50px;
    }
    .white-bg-simple {
        margin-top: 40px;
    }
    .new-bg.white-bg-simple {
        margin-bottom: 40px;
    }
    .helth-mind {
        padding: 95px 0 150px 0;
    }

    /***** 22-7-2019 css change *****/
    h1.product_title.entry-title {
        font-size: 32px;
    }
    .custom_thumbnail_images a {
        width: 31%;
        margin-right: 15px;
    }
    .woocommerce-page .custom_thumbnail_images img {
        min-height: 120px;
        max-height: 120px !important;
    }
    .woocommerce-tabs.wc-tabs-wrapper {
        padding: 30px 0px 10px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
        padding: 12px 25px;
        font-size: 16px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active a::after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #1467ad;
    }
    .product-list ul li {
        min-height: 220px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
        padding: 12px 22px;
    }

    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -55px;
        bottom: 90px;
    }
    .main-slider .owl-dots .owl-dot {
        width: 9px;
        height: 9px;
        margin-left: 2px;
        margin-right: 5px;
    }




}

@media (max-width: 991px) {
    .contact-detail>ul {
        text-align: center;
    }
    .main-slider .owl-carousel .owl-item img {
        height: 270px;
    }
    .name-information .pr-tittle {
        font-size: 28px;
    }
    .name-information .detail-pr {
        line-height: 22px;
        font-size: 18px;
    }
    .box-color {
        height: 97px;
        width: 97px;
    }
    .custom-comic-tab .nav-pills .nav-link {
        min-width: inherit;
    }
    .gform_wrapper .top_label .gfield_label {
        font-size: 14px;
    }
    .folder-section ul li a span {
        font-size: 16px;
    }
    .gf_one_fourth {
        width: 50% !important;
    }
    .cover-top { height: 215px; }

    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -55px;
        bottom: 70px;
    }
}
@media (min-width: 770px) and (max-width: 900px){
    .topbar .top-nav .overlay .overlay-menu {
        height: 300px;
    }
   
}

@media (min-width: 768px) and (max-width: 800px) {
    .new-bg.overlap-top {
        margin-bottom: 40px;
    }
    .new-bg,
    .no-container,
    .bro-section {
        margin-bottom: 50px !important;
    }
}

@media (max-width: 767px) {
    .title-main .writen {
        width: 100%;
        text-align: center;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .info-area h1 {
        font-size: 14px;
        line-height: 20px;
    }
    .logo {
        width: 40%;
        margin: 0 auto 17px auto;
    }
    .side-image {
        position: absolute;
        bottom: 0;
    }
    .red-t {
        text-align: center;
    }
    h2 {
        font-size: 22px;
    }
    .austim.content-austim {
        padding-left: 15px;
        padding-right: 15px;
    }
    .new-bg.overlap-top .bg-blue.even-space-inner.reletive {
        padding-left: 15px;
        padding-right: 15px;
    }
    .topbar .list-inline-item:not(:last-child) {
        margin-right: 15px;
    }
    .social-select .list-inline-item:not(:last-child) {
        margin-right: 15px;
    }
    .topbar ul.list-inline li,
    .topbar ul li a i,
    .search-bar .fa-search {
        font-size: 14px;
    }
    .bunch-right .top-nav {
        padding-left: 35px;
    }
    .topbar {
        padding: 15px 0;
    }
    .box-menu .box-menu-list {
        display: block;
        margin-bottom: 30px;
    }
    .box-menu .nor-dock h3 {
        font-size: 22px;
    }
    .box-menu .nor-dock p {
        font-size: 18px;
    }
    .bottom_block ul li a {
        font-size: 14px;
    }
    .bottom_block {
        padding: 30px 0px;
    }
    .search-bar .search-bar-full {
        top: 5px;
    }
    .writen-conten .title-top, .map-info-two .title-region h2 {
        font-size: 24px;
    }
    .contact-details h3, .writen-conten p {
        font-size: 18px;
    }
    .writen-conten .sub-title-top {
        font-size: 18px;
        margin-bottom: 19px;
    }
    .fluid-content p,
    .fluid-content ul li {
        font-size: 16px;
    }
    .content-about {
        margin: 30px 0;
    }
    .canvas-white {
        padding-left: 0;
        padding-right: 0;
    }
    .canvas-white .tab-content .tab-pane {
        padding-left: 0;
        padding-right: 0;
    }
    .download-huge {
        min-width: initial;
    }
    .btn-theme {
        font-size: 14px;
    }
    .theme-tabing .nav-pills .nav-link {
        padding: 15px;
    }
    .warning-note {
        margin-bottom: 15px;
        display: block;
    }
    .cover-form .btn-theme {
        margin: 0 auto;
        display: table;
    }
    .cover-form textarea {
        margin-bottom: 0;
    }
    .fluid-content .media {
        display: table;
    }
    .fluid-content .media img {
        margin-left: auto !important;
        margin-right: auto !important;
        display: table;
    }
    .page-link {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    .pagination-box {
        padding-bottom: 30px;
    }
    .box-menu .nor-dock {
        text-align: center;
    }
    .cover-top {
        padding: 20px 0;
    }
    .cover-top img {
        width: 50%;
    }
    .cover-top.darkHeader img {
        width: 150px;
    }
    .detail-area {
        margin-top: 30px;
    }
    .name-information .pr-tittle {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .name-information .detail-pr {
        font-size: 14px;
    }
    .custom-comic-tab .nav-item {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0 !important;
    }
    .overview-all .main-overview-title {
        font-size: 22px;
    }
    .overview-all .main-content-title {
        font-size: 18px;
    }
    .overview-all li,
    .overview-all p,
    .custom-comic-tab .nav-pills .nav-link {
        font-size: 14px;
    }
    .gform_wrapper .top_label .gfield_label {
        font-size: 16px;
    }
    .gform_wrapper .gsection .gfield_label,
    .gform_wrapper h2.gsection_title,
    .gform_wrapper h3.gform_title {
        font-size: 22px !important;
    }
    .custom_other .ginput_container_text {
        padding-left: 0;
    }
    .custom_other .ginput_container_text:before {
        position: absolute;
        transform: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
        top: -35px;
        left: 0;
    }
    .gform_wrapper .gform_title .gsection .gfield_label, .gform_wrapper .gform_title h2.gsection_title, .gform_wrapper .gform_title h3.gform_title { font-size: 24px !important; }
    .custom_service_content p { font-size: 16px; margin-top: 10px; }
    .gform_wrapper #gform_1 .gform_footer .gform_button.button {
        margin: 0 auto !important;
        width: calc(100% - 30px);
        display: table;
    }
    /***** 22-7-2019 css change *****/
    .summary.entry-summary span.posted_in a {
        padding: 3px 10px 5px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    h1.product_title.entry-title {
        font-size: 26px;
    }
    .custom_thumbnail_images a {
        width: 30%;
        margin-right: 10px;
    }
    .woocommerce-page .custom_thumbnail_images img {
        min-height: 100px;
        max-height: 100px !important;
    }
    a.woocommerce-review-link {
        font-size: 16px;
        line-height: 26px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li {
        margin: 0px 10px 0px 0px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
        padding: 10px 15px;
        font-size: 14px;
    }
    .entry-content h2 {
        font-size: 24px;
        line-height: 28px;
        margin: 10px 0px 15px;
    }
    .overview-all .main-content-title {
        margin-bottom: 10px;
        font-size: 16px;
    }
    p.comment-form-author ,p.comment-form-email {
        width: 100%;
    }
    .woocommerce #reviews #comment {
        height: 130px;
    }
    .form-submit input {
        min-width: 205px !important;
    }
    .cover-form .gform_footer.top_label {
        margin: 30px auto 0 auto;
        display: table;
        float: none;
        padding: 0;
    }
    .second_banner {
        margin: 30px 0px;
    }
    .fluid-content ul {
        padding-left: 15px;
    }
    .writen-conten {
        margin-bottom: 15px;
    }
    .gform_wrapper .top_label li.gfield.gf_left_third:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm), .gform_wrapper .top_label li.gfield.gf_middle_third:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm) { width: 100% !important; }
    .fluid-content ul { list-style-position: outside; }
    .gform_wrapper .gform_footer { text-align: center; }
    .page-id-13 .gform_wrapper .gform_footer { margin: 16px auto 0 auto; clear: both; width: 90%; }
    .gf_half_custom { width: 100% !important; }
    .page-id-181 .fluid-content ul li { line-height: 24px; }
    .page-id-181 .alig-right-points li:before { top: 20%; }
    .overview-all ul { padding-left: 15px; list-style-position: outside; }
    .woocommerce .woocommerce-breadcrumb { margin-bottom: 15px; margin-top: 20px; }
    .gf_one_fourth, .gform_wrapper .top_label li.gfield.gf_right_third:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm) {
        width: 100% !important;
    }
    .cover-top { height: 150px; top: 0 !important; }
    .product-list_product .only-product-page .bg-main-background img {
        max-height: inherit; max-width: inherit; width: 100%; height: auto;
    }
    .product-list .custom-transfrom .inner-area h3 {
        font-size: 16px;
        transform: translateY(15px);
    }
}
@media (min-width: 568px) and (max-width:736px) {
    .topbar .top-nav .overlay .overlay-menu {
        height: 300px;
    }
}
@media (min-width: 641px){
    .gform_wrapper li.gfield.gf_list_4col ul.gfield_checkbox li, .gform_wrapper li.gfield.gf_list_4col ul.gfield_radio li {
        width: 23.6% !important;		
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .banner-main {
        overflow: visible;
        min-height: 500px;
    }
    .side-image {
        right: 0;
        left: 0;
        width: 40%;
        margin: 0 auto;
    }
    .main-slider .owl-carousel .owl-item img {
        height: 200px;
    }
	
	
	/*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -55px;
        bottom: 55px;
    }
}

/***** 22-7-2019 css change *****/
@media screen and (max-width:479px){
    .woocommerce-tabs.wc-tabs-wrapper {
        padding: 20px 0px 10px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li {
        margin: 0px 0px 5px 0px;
        width: 100%;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs {
        margin: 0px 0px 10px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active a::after{
        display: none;
    }
    .entry-content h2 {
        font-size: 20px;
        line-height: 26px;
        margin: 10px 0px 10px;
    }
    .overview-all .main-content-title {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .entry-content p {
        margin-bottom: 10px;
    }
    .overview-all p~.main-content-title {
        margin-top: 20px;
    }
    .product-list ul li {
        min-height: 270px;
        margin-bottom: 20px;
    }
    .products {
        padding: 30px 0px 0px;
    }
    .box-menu .nor-dock h3 {
        font-size: 18px;
    }
    .box-menu .nor-dock p {
        font-size: 16px;
    }
    .woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
        padding: 10px 15px;
        font-size: 16px;
        width: 100%;
    }
    .content-about {
        margin: 15px 0px;
    }
    h1.product_title.entry-title {
        font-size: 22px;
    }
    .summary.entry-summary span.posted_in a {
        padding: 3px 10px 3px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .custom_thumbnail_images a {
        width: 29%;
        margin-right: 10px;
    }
    .woocommerce-page .custom_thumbnail_images img {
        min-height: 80px;
        max-height: 80px !important;
    }

    /*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: 0px;
        bottom: 20px;
        position: relative;
        width: 100%;
        text-align: center;
    }



}

@media (max-width: 567px) {
    .main-slider .owl-carousel .owl-item img {
        height: 200px;
    }
    .writen-conten .title-top, .map-info-two .title-region h2 {
        font-size: 20px;
    }
    .contact-details h3, .writen-conten p, .contact-details address p span {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .topbar .list-inline-item:not(:last-child) {
        margin-right: 5px;
    }
}
@media (max-width: 575px){
    .product-list_product .only-product-page .bg-main-background { height: auto; }
    .product-list_product .only-product-page h3 { text-align: center; }
    .products.product-main-page { margin-bottom: 30px; }
    .gallery_main_section .product-list li a { height: auto; }
    .gallery_main_section .product-list li a img { padding: 30px; }
}

@media (max-width: 500px) {
    .main-slider .owl-carousel .owl-item img {
        height: 140px;
    }
    .partners-list li a {
        padding: 30px 10px;
    }
	
	/*** 16-8-2019 css change ***/
    .main-slider .owl-dots {
        right: -55px;
        bottom: 35px;
    }
}
@media (min-width: 375px) and (max-width: 376px){
    .main-slider .owl-carousel .owl-item img {
        height: 125px;
    }
}

@media (max-width: 360px) {
    .main-slider .owl-carousel .owl-item img {
        height: 120px;
    }
}
@media (max-width: 320px) {
    .side-image {
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .main-slider .owl-carousel .owl-item img {
        height: 110px;
    }
}